name: a

on:
  workflow_dispatch:
  push:
    paths:
      - '.github/workflows/a.yml'

jobs:
  job:
    runs-on: windows-latest

    steps:
    - uses: robinraju/release-downloader@v1
      with:
        repository: 'brechtsanders/winlibs_mingw'
        tag: '10.5.0-11.0.1-msvcrt-r2'
        fileName: 'winlibs-i686-posix-dwarf-gcc-10.5.0-mingw-w64msvcrt-11.0.1-r2.zip'
        extract: true

    - run: |
        ls
        ls mingw32
        ls mingw32/bin/
