name: a

on:
  workflow_dispatch:
  push:
    paths:
      - '.github/workflows/a.yml'

jobs:
  job:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v5.0.0
      - run: |
          ls
          Compress-Archive -Path "*.*" -DestinationPath "Draft.zip"

